@page "{id}"
@model Web.Pages.Dish.DishEditModel
@{
    ViewData["Title"] = "Edição";

    <link rel="stylesheet" href="~/css/dish/dish.css" asp-append-version="true" />

    <form method="post" enctype="multipart/form-data" asp-action="edit">
    <input hidden asp-for="@Model.DishEdit.Id"/>
        <section class="de-header" margin-top:1px>
            <div class="form-group-edit">
                <h1 class="display-1">Edição de prato </h1>
                <div class="col-md-2">
                    <section>Nome </section>
                    <section> <input type="text" asp-for="@Model.DishEdit.Name" /> </section>
                </div>

                <div class="col-md-2">
                    <section>Descrição/Detalhes</section>
                    <section>
                        <input type="text" asp-for="@Model.DishEdit.Description" />
                    </section>
                </div>

                <div class="col-md-2">
                    <section> Preço </section>
                    <section>
                        <input type="number" step="any" asp-for="@Model.DishEdit.Price" />
                    </section>
                </div>

                <div>
                    <section class="col-md-2">
                        Selecione abaixo a imagem do seu prato:
                        <div class="col-md-5"><input type="file" asp-for="@Model.DishEdit.FileForm" /></div>
                    </section>
                </div>

                <section class="col-md-2">
                    <button type="submit" class="btn btn-primary">Salvar </button>
                    <a asp-page="/Dish/DishList" class="btn btn-primary">Cancelar </a>

                </section>
            </div>
        </section>
    </form>

    @if (TempData["Message"] != null)
    {
        <div class="green">
            <p><strong>@TempData["Message"].ToString()</strong> </p>
        </div>
    }
}
