@using Web.Models;
@model DishData

<form asp-page="/Dish/DishList" method="post">
    <div class="dish-list-div">
        <span>@Model.Name</span>
        <span>@Model.Description</span>        
        <span>@Html.Raw(@Model.Price.ToString("C2"))</span>
        <span>
            <img src="@Model.UriFile"/>
        </span>
    </div>
</form>